<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shen.activityfragmentdemo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PRIVILEGED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- 读联系人权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 写联系人权限 -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <!-- 拨号权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 读短信权限 -->
    <uses-permission android:name="android.permission.READ_SMS" />
    
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <protected-broadcast android:name="android.intent.action.SIM_STATE_CHANGED" />
    <protected-broadcast android:name="android.provider.Telephony.SPN_STRINGS_UPDATED" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_glass_launcher"
        android:label="@string/app_name"
        android:theme="@style/GlassLauncherMainStyle" >
        <activity
            android:name=".GlassBaseActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InCallUIActivity"
            android:exported="true"
            android:process="com.android.phone"
            android:screenOrientation="landscape"
            android:theme="@style/InCallUiStyle" >
            <intent-filter>
                <action android:name="com.yiyang.glass.GLASS_INCALLUI_MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PhoneDialPadMainActivity"
            android:noHistory="true"
            android:process="com.android.phone"
            android:screenOrientation="landscape"
            android:theme="@style/InCallUiStyle" >
            <intent-filter>
                <action android:name="com.yiyang.glass.GLASS_DIALPAD_MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name="com.shen.broadcastreceiver.GeneralBroadcastReceiver" />
    </application>

</manifest>